/*
  body *{
    border: 1px dotted dodgerblue;
  }

*/


/* Box sizing and default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Page layout and background */
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: hsl(0, 0%, 19%);
    border: 1px dotted dodgerblue;
  }
  
  .content {
    margin: 15px 40px;
  }
  
  /* Typography */
  h1, h2, h3, p, a {
    font-family: Consolas, monaco, monospace;
    color: white;
    font-weight: 700;
    font-size: 100%;
  }
  
  h1 {
    font-size: 4em;
    line-height: 1.25em;
    padding: 25px 0;
  }
  
  h2 {
    font-size: 2em;
    line-height: 20.9px;
    padding: 25px 0;
  }
  
  h3 {
    font-size: 1.5em;
    line-height: 15.4px;
    padding: 25px 0;
  }
  
  p, a {
    font-size: 1em;
    font-weight: 400;
    line-height: 20px;
  }
  
  a {
    color: dodgerblue;
  }
  
  /* Navigation bar */
  nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.756);
    position:fixed;
    width: 100%;
  }
  
  nav a {
    padding: 14px;
  }
  
  /* Splash section */
  .splash {
    background-image: url("images/splash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .splash button {
    background-color: white;
    width:15%;
    height:10%;
    font-size:1em;
  }
  
  /* About section */
  .about {
    display: flex;
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
  }
  
  .about img {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    margin: auto 0;
  }
  
  /* Projects section */
  .projects {
    display: flex;
    text-align: center;
  }
  
  .projects * {
    margin: 5px 0;
  }
  
  .projects img {
    width: 33.3%;
  }
  
  .projects div {
    background-color: rgba(0, 0, 0, 0.194);
    margin: 0 5px;
    padding: 0 10px 5px 10px;
  }
  
  /* Skills section */
  .skills {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .skills img {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: auto;
    object-fit: contain;
  }
  
  /* Contact section */
  .contact {
    display: flex;
    flex-direction: column;
  }
  
  .contact a {
    padding-bottom: 10px;
  }
  